%body
  - @events.each do |user_event|
    = user_event.event
  #topborder
  .container{:style => "margin-top:20px;"}
    .row
      .span6
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "natalie.jpg"}
                %li
                  %img{:src => "cathy.jpg"}
            .invitecount
              Guest List: 1048
      .span2
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "images/fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "images/natalie.jpg"}/
                %li
                  %img{:src => "images/cathy.jpg"}/
            .invitecount
              Guest List: 1048
      .span2
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "images/fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "images/natalie.jpg"}/
                %li
                  %img{:src => "images/cathy.jpg"}/
            .invitecount
              Guest List: 1048
    .row
      .span2
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "images/fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "images/natalie.jpg"}/
                %li
                  %img{:src => "images/cathy.jpg"}/
            .invitecount
              Guest List: 1048
      .span2
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "images/fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "images/natalie.jpg"}/
                %li
                  %img{:src => "images/cathy.jpg"}/
            .invitecount
              Guest List: 1048
      .span2
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "images/fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "images/natalie.jpg"}/
                %li
                  %img{:src => "images/cathy.jpg"}/
            .invitecount
              Guest List: 1048
      .span2
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "images/fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "images/natalie.jpg"}/
                %li
                  %img{:src => "images/cathy.jpg"}/
            .invitecount
              Guest List: 1048
      .span2
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "images/fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "images/natalie.jpg"}/
                %li
                  %img{:src => "images/cathy.jpg"}/
            .invitecount
              Guest List: 1048
    .row
      .span2
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "images/fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "images/natalie.jpg"}/
                %li
                  %img{:src => "images/cathy.jpg"}/
            .invitecount
              Guest List: 1048
      .span2
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "images/fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "images/natalie.jpg"}/
                %li
                  %img{:src => "images/cathy.jpg"}/
            .invitecount
              Guest List: 1048
      .span6
        .eventbox
          %a{:href => "http://www.facebook.com/events/425496454169159/", :target => "_blank"}
            .eventphoto
              %img{:src => "images/fbevent.jpg"}
            .time
              Wednesday, August 22, 2012
            .location
              %a The Berkley Front
              %br
                %span
                  3087 West 12 Mile Rd, Berkley
                  %br Michigan 48072
            .friends
              Friends
              %ul
                %li
                  %img{:src => "images/natalie.jpg"}/
                %li
                  %img{:src => "images/cathy.jpg"}/
            .invitecount
              Guest List: 1048