<div class=container id=greeting>	
<div style="float:left;"><h3>Hello!  Hotevents shows you what's hot!</h3></div>
<div style="float:right;">
  <% if current_user %>
    <%= "Hello #{current_user.first_name}"%>
  <% else %>
      <%= link_to "Login with Facebook", '/auth/facebook', class: "btn btn-large btn-primary"  %>
    <% end %>
    </div>
    
</div>
<div class="container" style="margin-top:50px;">
<div style="float:left; margin:5px auto 5px 0;"><span class="label label-success" style="padding:3px;">San Francisco &nbsp; x</span></div>
<div style="float:left; margin:5px auto 5px 5px;"><span class="label label-success" style="padding:3px;">Next 7 Days &nbsp; x</span></div>
<div style="float:left; margin:5px auto 5px 5px;"><span class="label label-success" style="padding:3px;">2+ Friends &nbsp; x</span></div>
</div>